#filterBar{
    z-index: 200;
    color: rgb(80, 80, 80) !important;
    background-color: #d7ffef !important;
    height: 3.2rem;
    font-size: 0.9em;
    position: sticky;
    top: 3.4rem;
}

.dropdown-menu{
    margin-top: -0.5rem !important;
}

#filterBar input{
    height: 2rem !important;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


.filterToggler{
    border: none !important;
}

@media only screen and (max-width: 991px) {
    #navbarFilter{
        background-color: #c38d9e;
        color: white !important
    }

    #filterBar .dropdown-toggle{
    color: white !important;
}
  }

.filteredResultSummary{
    font-size: 0.9rem;
    color: #11675a !important;
    text-decoration: none;
}

.sortBtn{
    color: #11675a !important;
}

