.banner{
    position: relative;
}

.orStatement{
    margin-top: -1.3rem;
    font-size: 2rem;
    font-style: italic;
    width: 3rem;
    background-color: rgb(255, 255, 255);
}

.cta{
    position: absolute;
    top: 23vh;
    left: 25vw;
    width: 50%;
    height: 20rem;
    border-radius: 20rem;
}

@media only screen and (max-width: 600px) {
    .banner{
        position: static;
    }
    
    .cta{
        position: static;
        width: 100%;
        border-radius: 0;
    }
  }

.carousel-item img{
        object-fit: cover;
        object-position: center;
        height: 80vh;
        overflow: hidden;
}

.card-title i{
    font-size: 1.2rem !important;
    color: #e27d60;
}

.cta{
    background-color: rgb(23, 23, 23);
    opacity: 0.9;
    color: white;
}

.organizerText{
    background-color:  #41b3a3;
}


.card-title i{
    font-size: 3rem;
    color:#e27d60;
}

.organizerText img{
    object-fit: cover;
    object-position: center;
    height: 25rem;
    overflow: hidden;
}

.card-text{
    /* height: 5rem !important; */
    color: rgb(69, 69, 69) !important;
    font-size: 1rem !important;
    font-style: italic;
}

.card-body{
    height: 10rem;
}

.attendeeText img{
    object-fit: cover;
    object-position: center;
    height: 14rem;
    overflow: hidden;
}
