.eventList {
  width: 21.5rem;
  background-color: rgba(179, 112, 133, 0.7);
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0rem;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .eventList {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    /* background-color: red; */
    /* position: absolute; */
    /* top: 60vh; */
    /* top: 60vh; */
    top: 0rem;
    width: 100%;
  }
  .listOfEvent {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    height: 23rem;
  }
  .eventListCard {
    /* margin-left: 1rem !important; */
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(179, 112, 133, 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6db3aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(227, 189, 225);
}

.listOfEvent {
  overflow-y: scroll;
  /* overflow-y: hidden; */
  scrollbar-width: thin;
  /* width: 15rem; */
  /* background-color: rgba(179, 112, 133, 0.8); */
  background-image: linear-gradient(to bottom, rgba(179, 112, 133, 0.8), rgba(103, 74, 170, 0.8));
  border-radius: 0.5rem;
}

.mapEventListContainer {
  position: relative;
}

#my-leaflet-map {
  background: #41b3a3;
}

.leaflet-tile {
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(20%); */
  /* color: black; */
}

.leaflet-routing-container,
.leaflet-control-zoom {
  display: none;
}

.hideShowEvents {
  font-size: 0.7rem;
  color: white !important;
}

.hideShowEvents i {
  color: white;
}

.hideShowEventList:hover {
  background-color: rgba(179, 112, 133, 0.7);
  border-radius: 2rem;
  padding: 0.3rem 0.7rem;
}

/* tool tip */
/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */
