#navBar{
 background-color: white !important;
 z-index: 201;
 position: sticky;
 top: 0;
}

#navBar .nav-link:hover{
    background-color: #ebe1e5;
    border-radius: 10px;
}

.navIcon{
    color: #e27d60;
    font-size: 1.3rem;
}

.navText{
    color: rgb(60, 60, 60);
    font-style: italic;
    font-size: 0.9rem;
}
