#navBar{
 background-color: white !important;
 z-index: 3;
}

.navIcon{
    color: #e27d60;
    font-size: 1.3rem;
}

.navText{
    color: rgb(60, 60, 60);
    font-style: italic;
    font-size: 0.9rem;
}
