#modalBtnElement{
    display: none !important;
}

.calendarContainer{
    background-image: url("../images/defaultEventOne.jpg");
}
.calendarContainer a{
    color: grey;
    text-decoration: none;
}
.calendar{
    background-color: white;
}

.Kalend__main {
    height: 65vh !important;
  }
  