#modalBtnElement {
    display: none !important;
}

.calendarContainer a {
    color: grey;
    text-decoration: none;
}
.calendar {
    background-color: white;
}

.Kalend__main {
    height: 75vh !important;
}

.calenderAside {
    width: 100%;
    height: 7rem;
}

.calendarBg {
    background-color: #c38d9e;
    border-radius: 0.5rem;
}

@media (min-width: 992px) {
    /* .calenderAside{
        width: 20vw;
        height: 65vh;
    }
    .Kalend__main {
        height: 63vh !important;
        width: 79vw !important;
      }
     */
}

.modal-footer {
    border-top: none !important;
}

.modalImg {
    margin-top: -1.5rem;
}

.closeBtnModal {
    color: white !important;
}
