.card {
  width: 15rem;
  /* margin: 1rem; */
  border: none !important;
}

.card-img-top{
  object-fit: cover;
  object-position: center;
  height: 8rem;
  overflow: hidden;
}
.card-text{
  color: rgb(179, 179, 179);
  font-size: 0.7rem;
}

.dateTime{
  font-weight: bold;
}
