.page-footer{
    background-color: rgb(206, 206, 206) !important;

}

.page-footer h5, .footer-copyright{
    color: rgb(108, 108, 108) !important;

}
.page-footer a{
    color: #989898 !important;
    text-decoration: none;
}

.page-footer p{
    color: #989898 !important;
}