.page-footer{
    background-color: rgb(7, 0, 7) !important;

}

.page-footer h5, .footer-copyright{
    color: rgb(252, 252, 252) !important;

}
.page-footer a{
    color: #875f54 !important;
    text-decoration: none;
}

.page-footer p{
    color: #875f54 !important;
}